/* Author: Suman Roy*/
/* Github: Suman373 */

@font-face {
  font-family: "ironMan";
  src: url("thunder/thunder-tita.otf");
}
/* CSS RESEt  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #2c3333;
  height: 100%;
  width: 100%;
  font-family: "ironMan";
}
.errorfile {
  display: none;
}
.text p {
  margin-top: 1.5rem;
  font-size: 1.75rem;
  text-align: center;
  color: rgb(201, 16, 16);
}
.text span {
  color: goldenrod;
}
#tip {
  font-size: 20px;
  color: white;
  text-shadow: 0 0 5px goldenrod;
}
/* outer div */
.outerbox {
  position: relative;
  height: 23rem;
  width: 18rem;
  background: linear-gradient(
    to right,
    white 0%,
    goldenrod 5%,
    goldenrod 95%,
    white 100%
  );
  margin: 8rem auto;
  border-radius: 318px 318px 411px 411px;
  box-shadow: 0 -20px 0 rgb(105, 11, 11), 15px 0 0 rgb(71, 6, 6),
    -15px 0 0 rgb(75, 8, 8), 0 10px 0 rgb(126, 20, 20);
  cursor: pointer;
}
.outerbox:hover {
  background: linear-gradient(
    to right,
    white 0%,
    goldenrod 10%,
    goldenrod 90%,
    white 100%
  );
}

.outerbox:hover body {
  background-color: #2c3333;
}

.outerbox:hover .lowerface {
  height: 15px;
  transition: all 0.3s ease;
}

.outerbox:hover .eye1,
.outerbox:hover .eye2 {
  height: 8px;
  transition: all 0.3s ease;
  background-color: #399dcb;
  box-shadow: rgba(0, 16, 237, 0.35) 0px 5px 15px;
}
/* the forehead part with trapezium */
.forehead {
  top: 0;
  margin: 1px auto;
  text-align: center;
  align-items: center;
  height: 0;
  width: 120px;
  /* general case:let width = 4*y, left and right borders = y 
    then, top / bottom border is = 2*y */
  border-top: 80px solid rgb(128, 23, 23);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: relative;
}
.forehead::before {
  content: "";
  position: absolute;
  top: -6.2rem;
  left: -2rem;
  height: 0;
  width: 142px;
  border-top: 70px solid rgb(150, 28, 28);
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
/* the eye container */
.eyebox {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  cursor: pointer;
}

.eye1,
.eye2 {
  height: 4px;
  width: 80px;
  background-color: #c9dce9;

  /* border-top: 22px solid white; */

  margin-top: 4rem;
  /* border: 1px solid red; */
}

.eye-animation {
  animation: blink 4s ease infinite;
}
@keyframes blink {
  0% {
    height: 8px;
    background-color: #5cb8e4;
    box-shadow: rgba(0, 16, 237, 0.35) 0px 5px 15px;
  }
  20% {
    height: 13px;
  }
  40% {
    height: 13px;
  }
  60% {
    height: 18px;
  }
  80% {
    height: 13px;
  }
  90% {
    height: 13px;
    background-color: #5cb8e4;
  }
  100% {
    height: 8px;
    background-color: #5cb8e4;
    box-shadow: rgba(9, 9, 245, 0.35) 0px 5px 15px;
  }
}
.eye1 {
  /* height: 120px; */
  border-right: 10px solid transparent;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 5px;
  transform: rotate(3deg);
}
.eye2 {
  border-left: 10px solid transparent;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 5px;
  transform: rotate(-3deg);
}

/* the black line in the area of the mouth */
.lowerface {
  position: absolute;
  bottom: 4rem;
  left: 5rem;
  height: 8px;
  width: 129px;
  background: rgba(158, 115, 22, 0.993);
  border-radius: 10px;
  border: 1px solid;
}
.lowerface::after {
  content: "";
  position: absolute;
  top: 1.2rem;
  left: -1.2rem;
  height: 3px;
  width: 30px;
  background: rgb(170, 124, 25);
  border-radius: 5px;
  transform: rotateZ(-240deg);
}

.lowerface::before {
  content: "";
  position: absolute;
  top: 1.2rem;
  right: -1.2rem;
  height: 3px;
  width: 30px;
  background: rgb(170, 124, 25);
  border-radius: 5px;
  transform: rotateZ(240deg);
}
/* the lines around /below the mouth area*/
.lowerface1::before {
  content: "";
  position: absolute;
  bottom: 3.2rem;
  left: 1.5rem;
  height: 4px;
  width: 50px;
  background: rgb(170, 124, 25);
  transform: rotateZ(210deg);
}
.lowerface1::after {
  content: "";
  position: absolute;
  bottom: 3.2rem;
  right: 1.5rem;
  height: 4px;
  width: 50px;
  background: rgb(170, 124, 25);
  transform: rotateZ(145deg);
}

/* the chin below which is a trapezium */
.curvedchin {
  position: absolute;
  bottom: 0;
  left: 6rem;
  height: 0;
  width: 93px;
  /* general case:let width = 4*y, left and right borders = y 
    then, top / bottom border is = 2*y */
  border-top: 30px solid rgb(128, 23, 23);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transform: rotate(180deg); /*to imvert the trapezium*/
}

.curvedchin::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1.28rem;
  width: 2rem;
  height: 0.5rem;
  background: rgba(102, 12, 12, 0.877);
}

.sidelines {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 4.3rem auto;
}
.sidelines::before {
  content: "";
  position: absolute;
  height: 75px;
  width: 5px;
  left: 0.7rem;
  background: rgb(170, 124, 25);
  transform: rotateZ(-20deg);
}
.sidelines::after {
  content: "";
  position: absolute;
  height: 75px;
  width: 5px;
  right: 0.8rem;
  background: rgb(170, 124, 25);
  transform: rotateZ(20deg);
}
.footer P {
  font-family: sans-serif;
  font-size: 15px;
  color: goldenrod;
  bottom: 0;
  text-align: center;
}
@media screen and (max-width: 354px) {
  .errorfile {
    display: block;
  }
  .errorfile p {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
    background-image: -webkit-linear-gradient(red, blue, hotpink, goldenrod);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  /* to not show the mask when screen size is below 570px 
    due to irresponsiveness */
  .text,
  .outerbox,
  .sidelines,
  .lowerface,
  .lowerface1,
  .curvedchin {
    display: none;
  }
}

.body-bg {
  background-color: #399dcb;
  transition: all 2s ease;
}

.talking {
  animation: talking 3s ease infinite;
}

@keyframes talking {
  0% {
    height: 13px;
  }
  20% {
    height: 22px;
  }
  40% {
    height: 13px;
  }
  60% {
    height: 25px;
  }
  75% {
    height: 13px;
  }

  95% {
    height: 25px;
  }

  100% {
    height: 13px;
  }
}
